
<div class='question'>
<h1> Is
<%= form_tag '/compute', :onsubmit => "return false;" do %>
  <%= text_field_tag 'q' %>
  <%= submit_tag 'prime?' %>
<% end %>
</h1>
</div>

<div class='answer'></div>
